.solution-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;

}


.solution-headline-container h1 {
    color: var(--color-black);
    text-align: center;
    font-size: 4.5rem;
    font-family: var(--font-family);
    font-weight: 700;
}


.solution-tab-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.solution-tab img {
    max-width: 220px;
}



.solution-arrow-container p {

    max-width: 120px;
    color: var(--color-black);
    text-align: center;
    font-size: 0.875rem;
    font-family: var(--font-family);
}

.left img {
    transform: rotate(-72.057deg);

}

.right img {
    transform: rotate(107.943deg);

}


.solution-tab {
    padding: 3rem 6rem;
    background: var(--color-white);
    border-radius: 20px;
}

.solution-p {
    color: var(--color-black);
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-family);
    line-height: 150%;
    max-width: 670px;
}


@media (max-width:750px) {

    .solution-container {
        gap: 1rem;
    }


    .solution-headline-container h1 {

        font-size: 2.5rem;

    }


    .solution-tab-container {
        flex-direction: column;
    }


    .solution-p {
        color: #000;
        text-align: center;
        font-size: 0.875rem;
        font-family: var(--font-family);
        line-height: 150%;
    }

    .solution-tab {
        padding: 1.4rem 1.8rem;
    }

    .left {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-self: flex-end;
    }

    .left img {
        transform: rotate(4.644deg);
        max-width: 20px;

    }

    .right {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-self: flex-start;
    }

    .right img {
        transform: rotate(-104.644deg);
        max-width: 20px;

    }



}