*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: var(--font-family);

}

.inside-container {
  max-width: 1500px;
  margin: 0 auto;

}


.header-background {

  background: var(--color-black);
  width: 100%;
}

.solution-background {

  background: var(--color-primary);

}

.container-padding {
  padding: 1.5rem 4rem;

}

.section-margin {}


@media (max-width:500px) {

  .container-padding {
    padding: 1rem 2.5rem;
  }


}